.grid-container {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
  }
  
  @media (max-width: 1000px) {
    .grid-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (max-width: 750px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (max-width: 500px) {
    .grid-container {
      grid-template-columns: 1fr;
    }
  }
  